header {}
header .container {
    display: flex;
    padding: 0;
    align-items: center
}
header .logo {
    margin-right: 70px
}
.header-line {
    background-color: #3e4651;
}
.header-line__inner {
    padding:0
}
.header-line ul.header-line__ul {
    display: table;
    width: 100%;
}
.header-line ul.header-line__ul > li {
    padding:8px 0;
    float: left;
    font-size: 12px;
    color: #fff;
}
.header-line ul.header-line__ul > li .header-line__ul__inner {
    display: flex;
    line-height:17px;
    align-items: center;
    padding-right:15px;
    margin-right:15px;
    border-right:1px solid rgba(255,255,255,.3);
}
.header-line ul.header-line__ul > li:nth-last-child(1) .header-line__ul__inner,
.header-line ul.header-line__ul > li:nth-last-child(2) .header-line__ul__inner {
    padding-right:0;
    margin-right:0;
    border:0
}
.header-line ul.header-line__ul > li .header-line__icon {
    margin-right:5px;
    display:flex;
    align-items: center
}
.header-line ul.header-line__ul > li .header-line__title a {
    font-size: 12px;
    color: #fff;
}
.header-line ul.header-line__ul > li .header-line__title a:hover {
    text-decoration: underline
}
.header-line .search {
    display: flex
}
.header-line .search .search__txt {
    background-color: transparent;
    border:0;
    border-bottom:1px solid rgba(255,255,255,.6);
    margin:0; padding:0;
    width: 100%;
    max-width: 180px
}
.header-line .search .search__btn {
    background-color:transparent;
    border:0;
    margin:0; padding:0;
}
.header-line ul.header-line__ul > li.lang {
    position:relative
}
.header-line ul.header-line__ul > li.lang .header-line__title {
    margin-right: 5px
}
.header-line ul.header-line__ul > li.lang ul {
    border: 1px solid #ededed;
    background-color: #fff;
    position: absolute;
    top: 45px;
    left: -99999px;
    transform: translate(-50%, 0);
    opacity: 0;
    -webkit-transition: opacity .3s ease, top .25s ease;
    -moz-transition: opacity .3s ease, top .25s ease;
    -ms-transition: opacity .3s ease, top .25s ease;
    -o-transition: opacity .3s ease, top .25s ease;
    transition: opacity .3s ease, top .25s ease;
    z-index: 1000;
}
.header-line ul.header-line__ul > li.lang ul li {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(49,49,49,.05);
}
.header-line ul.header-line__ul > li.lang ul li:last-of-type {
    border:0
}
.header-line ul.header-line__ul > li.lang ul li a {
    white-space: nowrap;
    font-size: 14px;
    color: #313131;
    font-weight: 300;
    background: #ffffff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.header-line ul.header-line__ul > li.lang:hover ul {
    left:50%; top: 33px;
    opacity: 1;
}
.header-line ul.header-line__ul > li.login {
    float: right
}

#cssmenu {
    position: relative;
    flex-grow: 1;
}
#cssmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}
#cssmenu > ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 500;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu > ul > li {
    position: relative;
    margin: 0;
    padding: 20px 0;
}
#cssmenu > ul > #menu-button {
    display: none;
}
#cssmenu ul li a {
    display: block;
    text-decoration: none;
}
#cssmenu > ul > li > a {
    font-size: 16px;
    color: #302f2f;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    padding:8px 5px 8px;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    -ms-transition: border .3s ease;
    -o-transition: border .3s ease;
    transition: border .3s ease;
}
#cssmenu > ul > li:hover > a {
    border-color: #ffd034;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    -ms-transition: border .3s ease;
    -o-transition: border .3s ease;
    transition: border .3s ease;
}
#cssmenu li.has-sub::after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}
#cssmenu ul ul {
    border:1px solid #ededed;
    background-color: #fff;
    position: absolute;
    top: 40px;
    left: -99999px;
    transform: translate(-50%, 0);
    opacity: 0;
    -webkit-transition: opacity .3s ease, top .25s ease;
    -moz-transition: opacity .3s ease, top .25s ease;
    -ms-transition: opacity .3s ease, top .25s ease;
    -o-transition: opacity .3s ease, top .25s ease;
    transition: opacity .3s ease, top .25s ease;
    z-index: 1000;
}
#cssmenu ul ul ul {
    left: 100%;
    transform: translate(0,0);
}
#cssmenu ul ul li {
    position: relative;
    border-bottom:1px solid rgba(49,49,49,.05);
}
#cssmenu ul ul li:last-of-type {
    border-bottom:0;
}
#cssmenu > ul > li:hover > ul {
    left:50%; top:76px;
    opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
    opacity: 1;
}
#cssmenu ul ul li:hover > ul {
    top: 0;
    opacity: 1;
}

#cssmenu ul ul li a {
    white-space: nowrap;
    padding: 10px 40px 10px 20px;
    font-size: 18px;
    color: #313131;
    font-weight: 300;
    background: #ffffff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
#cssmenu.align-right ul ul li a {
    text-align: right;
}
#cssmenu ul ul li:hover > a {
    background: #fbfbfb;
    color: #8c9195;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
    border-bottom: 0;
}
#cssmenu.align-right > ul > li > ul::after {
    left: auto;
    right: 30px;
}
#cssmenu ul ul li.has-sub::after {
    border: 4px solid transparent;
    border-left-color: #9ea2a5;
    right: 10px;
    top: 15px;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub::after {
    border-left-color: transparent;
    border-right-color: #9ea2a5;
    right: auto;
    left: 10px;
}
#cssmenu ul ul li.has-sub:hover::after {
    border-left-color: #ffffff;
    right: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#cssmenu.align-right ul ul li.has-sub:hover::after {
    border-right-color: #ffffff;
    border-left-color: transparent;
    left: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
@media all and (max-width: 800px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
    only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (min-resolution: 192dpi) and (max-width: 1024px),
    only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: auto;
    }
    #cssmenu.align-center ul {
        text-align: left;
    }
    #cssmenu.align-right > ul > li {
        float: none;
    }
    #cssmenu ul {
        width: auto;
    }
    #cssmenu .submenuArrow,
    #cssmenu #indicatorContainer {
        display: none;
    }
    #cssmenu > ul {
        height: auto;
        display: block;
    }
    #cssmenu > ul > li {
        float: none;
    }
    #cssmenu li,
    #cssmenu > ul > li {
        display: none;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul,
    #cssmenu ul > li:hover > ul,
    #cssmenu ul ul > li:hover > ul,
    #cssmenu.align-right ul ul,
    #cssmenu.align-right ul ul ul,
    #cssmenu.align-right ul > li:hover > ul,
    #cssmenu.align-right ul ul > li:hover > ul {
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        padding-left: 0;
        padding-right: 0;
        right: auto;
    }
    #cssmenu ul .has-sub::after {
        display: none;
    }
    #cssmenu ul li a {
        padding: 12px 20px;
    }
    #cssmenu ul ul li a {
        border: 0;
        background: none;
        width: auto;
        padding: 8px 35px;
    }
    #cssmenu.align-right ul ul li a {
        text-align: left;
    }
    #cssmenu ul ul li:hover > a {
        background: none;
        color: #8c9195;
    }
    #cssmenu ul ul ul a {
        padding: 8px 50px;
    }
    #cssmenu ul ul ul ul a {
        padding: 8px 65px;
    }
    #cssmenu ul ul ul ul ul a {
        padding: 8px 80px;
    }
    #cssmenu ul ul ul ul ul ul a {
        padding: 8px 95px;
    }
    #cssmenu > ul > #menu-button {
        display: block;
        cursor: pointer;
    }
    #cssmenu #menu-button > a {
        padding: 14px 20px;
    }
    #cssmenu ul.open li,
    #cssmenu > ul.open > li {
        display: block;
    }
    #cssmenu > ul.open > li#menu-button > a {
        color: #fff;
        border-bottom: 1px solid rgba(150, 150, 150, 0.1);
    }
    #cssmenu ul ul::after {
        display: none;
    }
    #cssmenu #menu-button::after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #7a8189;
        border-bottom: 2px solid #7a8189;
        right: 20px;
        top: 15px;
    }
    #cssmenu #menu-button::before {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #7a8189;
        right: 20px;
        top: 25px;
    }
    #cssmenu ul.open #menu-button::after,
    #cssmenu ul.open #menu-button::before {
        border-color: #fff;
    }
}
