@media (max-width: 1200px) {
    .buttons-row {
        flex-wrap: wrap
    }
    .buttons-row .bt {
        margin-bottom:30px
    }
    .hidden-big {
        display: none
    }
    .visible-big {
        display: block
    }
    .header-line ul.header-line__ul > li.phone:hover ul.header-line__drop {
        left: 50%;
        top: 31px;
        opacity: 1;
    }
}
@media (max-width: 1024px) {
    .contacts__items {
        padding-left: 15px;
    }
    .contacts__form {
        padding-left: 15px
    }
}
@media (max-width: 992px) {
    .partners-page .container {
        padding:0 15px;
    }
    .partners-page__item {
        margin-bottom: 40px;
    }
    .main-table__item {
        flex-basis:50%
    }
    .filter__inner {
        flex-direction: column
    }
    .filter__search {
        margin-bottom: 20px
    }
    .filter__category {
        margin-left: 0
    }
    header .container {
        justify-content: space-between
    }
    #cssmenu {
        position: static
    }
    #cssmenu .mobile-menu {
        width: 75px;
        margin: 0 0 0 auto;
        cursor: pointer;
    }
    #cssmenu .menu__inner {
        box-shadow: 0 10px 15px rgba(0,0,0,.4);
    }
    .mobile-menu__icon {
        margin-right: 5px
    }
    .mobile-menu__title {
        font-size: 14px;
        font-weight: 500
    }
    #cssmenu .menu__inner {
        display: none;
        position: absolute;
        background-color: #fff;
        left:0; right:0;
        top: 60px;
        width: 100%;
    }
    #cssmenu.open .menu__inner {
        display: block
    }
    #cssmenu .menu__inner a {
        display: table;
        margin:0 auto;
    }
    #cssmenu > ul > li {
        padding-bottom: 0
    }
    #cssmenu .menu__inner li ul {
        display: block;
        position: static;
        transform: none;
        opacity: 1
    }

    #cssmenu .menu__inner li ul li.has-sub,
    #cssmenu .menu__inner li ul li.has-sub > a {
        background-color: #f8f8f8
    }
    #cssmenu ul ul li:hover > a {
        background-color: #fff
    }
    #cssmenu ul ul li a {
        padding-left: 0;
        padding-right: 0;
        white-space: normal
    }
    #cssmenu .menu__inner li ul li.has-sub:after {
        display: none
    }
    #cssmenu .menu__inner li ul {
        display: none
    }
    #cssmenu .menu__inner li.openli > ul {
        display: block
    }
    #cssmenu .foote_menu {
        background-color: #3e4651;
    }
    #cssmenu .foote_menu {
        padding-top: 30px;
    }
    #cssmenu .foote_menu:last-of-type {
        padding-bottom: 30px
    }
    #cssmenu .foote_menu__inner .lang:hover ul {
        left:0; top: 15px;
        opacity: 1;
        display: block!important
    }
    #cssmenu .foote_menu__inner .login .header-line__ul__inner {
        margin-right: 0;
        padding-right: 0
    }

    .modal-form .modal-form__label {
        text-align: left
    }
}
@media (min-width: 768px) AND (max-width: 1024px) {


}


@media (max-width: 768px) {
    footer .copy {
        margin-top: 20px;
    }
    footer .footer__contacts {
        margin:0
    }
    .breadcrumb {
        padding:8px 15px
    }
    h2.h2 {
        font-size: 18px;
        margin:60px auto 30px;
    }
    h2.h2:before {
        left:30px; right:30px;
    }
    h2.h2 span {
        padding:0 12px;
    }
    .slick-list {
        margin:0 30px;
    }
    .partners-slider .slick-arrow,
    .partners-slider .slick-arrow span,
    .reviews .slick-arrow,
    .reviews .slick-arrow span {
        width:28px; height:28px;
        background-size:100% 100%!important
    }
    .partners-slider .slick-arrow.slick-prev {
        left:-5px
    }
    .reviews .slick-arrow.slick-prev {
        left:10px
    }
    .partners-slider .slick-arrow.slick-next {
        right:-5px
    }
    .reviews .slick-arrow.slick-next {
        right:10px;
    }
    .slick-dots {
        bottom:5px;
    }
    .main-table__item {
        flex-basis:100%
    }
    .main-table .main-table__project-front .hover-content h3 {
        font-size:25px
    }
    .main-news__big {
        margin-bottom: 22px;
    }
    .main-news {
        margin-bottom:40px;
    }
    .main-table--second {
        padding:0 15px
    }
    .main-table--second .main-table__project-front .hover-content h3 {
        font-size: 16px
    }
    .main-table--second .main-table__project-back .hover-content h4 {
        font-size: 12px;
        line-height: 20px;
    }
    .main-news .main-news__small .main-news__content {
        padding:15px;
    }
    .main-news .main-news__small .img-wrap {
        padding-right:15px;
    }
    .main-about__img-wrap {
        text-align: center;
        margin-bottom: 20px
    }
    .main-about__inner {
        display: block
    }
    .main-about__items {
        padding-bottom:0
    }
    .main-about__img {
        position: static;
        width: auto;
        max-width: 100%;
    }
    .buttons-row__wrap {
        padding:0 15px;
        margin-bottom:30px
    }
    .partners-page__item {
        margin-bottom: 0;
        min-height: inherit
    }
    .filter__category select {
        width: auto;
    }
    .contacts__form-item--input {
        padding-right: 15px
    }
    .map-container {
        padding-left: 0
    }
    .contacts__form {
        margin-top: 30px
    }
    .modal-footer.buttons-footer {
        flex-direction: column;
        align-items: center
    }
    .modal-footer.buttons-footer .buttons-footer__item:not(:last-of-type) {
        margin-bottom: 15px;
    }
}
